<!doctype html>
<title>{% block title %}{% endblock %} - CSGO Beans</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h2>CSGO Beans</h2>
  <h2>Login</h2>
  {% if username %}
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('inventory.beans') }}">Beans</a></li>
      <li><a href="{{ url_for('inventory.trade') }}">Trade</a></li>
      <li><a href="{{ url_for('inventory.history') }}">History</a></li>
    </ul>
    <h2>Hello! {{ username }}</h2>
    <form method="post" action="/logout">
      <input type="submit" value="Logout">
    </form>
  {% else %}
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('auth.login') }}" action="post"><img src="{{ url_for('static', filename='steamlogin.png')}}"></a></li>
    </ul>
  {% endif %}
</nav>
<section>
  <header><h1>{% block header %}{% endblock %}</h1></header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
