{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}
{% block header %}Welcome{% endblock %}
{% block subheader %}Browse our beans, then redeem some Counter Strike: Global Offensive skins to get some!{% endblock %}

{% block content %}
<table>
  <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Color</th>
      <th>Quality</th>
  </tr>
{% for bean_id, bean in beans %}
  <tr>
    <td>{{ bean_id }}</td>
    <td>{{ bean.name }}</td>
    <td>{{ bean.short_desc }}</td>
    <td>{{ bean.color }}</td>
    <td>{{ bean.quality }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
