{% extends 'base.html' %}

{% block title %}Trade{% endblock %}
{% block header %}Trade{% endblock %}

{% block content %}
  {% if too_many %}
  <p><b>
    You've sent too many requests to Steam. Please try again after
    {% if retry_after == -1 %}awhile{% else %}{{ retry_after }} seconds{% endif %}.
  </b></p>
  {% elif csgo_inventory|length == 0 %}
  <p><b>Looks like you don't have anything in your CSGO inventory!</b></p>
  {% else %}
  <table>
    {% for item_id, item_name in csgo_inventory %}
    <tr>
      <form method="post" action="/trade">
        <input type="hidden" name="item_id" value="{{ item_id }}">
        <input type="hidden" name="item_name" value="{{ item_name }}">
        <td><label for="item">{{ item_name }}</label></td>
        <td><input name="item" type="submit" value="Trade"></td>
      </form>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
