{% extends 'base.html' %}

{% block title %}Trade{% endblock %}
{% block header %}Trade{% endblock %}
{% block subheader %}Redeem your CSGO skins here to get some magic beans!{% endblock %}

{% block content %}
  {% if too_many %}
  <p>
    <span class="tag is-warning">
    You've sent too many requests to Steam. Please try again after
    {% if retry_after == -1 %}awhile{% else %}{{ retry_after }} seconds{% endif %}.
    </span>
  </p>
  {% elif csgo_inventory|length == 0 %}
  <p>
    <span class="tag is-info">
    Looks like you don't have anything in your CSGO inventory!
    </span>
  </p>
  {% else %}
    {% for item_id, item_name in csgo_inventory %}
    <form method="post" action="/trade">
      <input type="hidden" name="item_id" value="{{ item_id }}">
      <input type="hidden" name="item_name" value="{{ item_name }}">
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">{{ item_name }}</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="button" name="item" type="submit" value="Trade">
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endfor %}
  {% endif %}
{% endblock %}
